<ion-content class="auth-page">
  <ion-grid style="height:100%">
    <ion-row style="height:100%">
      <ion-col align-self-center class="ion-padding">
        <ion-text color="light">
          <h1>
            Keep track of your <br>reading progress with<br><strong style="font-size:3.5rem">Bookmark</strong>
          </h1>
        </ion-text>
        <ion-button class="ion-align-self-center" fill="outline" color="light" size="medium" shape="round" [routerLink]="['/book-list']">Let me try<ion-icon name="log-in" slot="end"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
